.bodybg{
 -fx-background-image: url('chatRahmen.png');
 -fx-background-size: 100% 100%;
}
.text-input {
-fx-text-fill: black; -fx-font-size: 14px;
}

.text-area .content {
-fx-background-image: url('chat.png');
 -fx-background-size: 100% 100%;
}
