.bodybg{

}

@font-face {
    font-family: 'Steamwheel';
    src: url('..\images\Gui\Steamwheel-jE7gM.ttf');
}

.text {
    -fx-font-family: "Steamwheel";
    -src: url('..\images\Gui\Steamwheel-jE7gM.ttf');
    -fx-font-size: 36px;
}

