.root {
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: repeat;
}

.label {
    -fx-font-family: Verdana;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}


#errorLabel {
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

#yourNameLabel {
    -fx-font-size: 11;
    -fx-text-fill: white;
}

.button {
    -fx-font-family: Verdana;
    -fx-font-size: 11;
    -fx-background-color: tan;
    -fx-border-color: white;
    -fx-font-weight: bold;
}
